<footer>

    <ul>
        <li>
            <p class="home">Home</p>
        </li>
        <li>
            <p class="services">Services</p>
        </li>
        <li>
            <p class="reachus">Reach us</p>
        </li>
        <li>
            <p class="clients">Clients</p>
        </li>
        <div style="text-align: center">
            <a style="font-size: 18px; text-align: center">
            Данный сайт предназначен для демострации
            моей стажировки в lodoss-team</a><br>
        <i>In < / code> we trust &copy; <br>2019</i>
        </div>
    </ul>

</footer>
