<form>
    {{#if err}}
        <div class="alert alert-warning" role="alert">
            {{err}}
        </div>
    {{/if}}
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="validationDefault01">Имя пользователя</label>
            <input type="text" class="form-control" id="validationDefaultUsername" name="username" placeholder="Имя" value="" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationDefault02">Пароль</label>
            <input type="password" class="form-control" id="validationDefault01" name="password" placeholder="Пароль" value="" required>
        </div>
        <div class="col-md-4 mb-3">
            <label for="validationDefaultUsername">Email</label>
                <input type="text" class="form-control" id="validationDefault02" name="email" placeholder="Email@com" aria-describedby="inputGroupPrepend2" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationDefault03">Номер телефона</label>
            <input type="text" class="form-control" id="validationDefault03" name="telephone" placeholder="89876543210" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationDefault04">Дата рождения</label>
            <input type="date" class="form-control" id="validationDefault04" name="dateBirthday" placeholder="State" required>
        </div>
    </div>
    <button class="btn btn-primary register-user" type="button">Зарегистрировать</button>
</form>
