<form>
    <div class="input-group add-notes">
        <div class="input-group-prepend">
            <span class="input-group-text">Note's text</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" placeholder="Enter note's text" name="notesText"></textarea>
    </div>
    <small id="emailHelp" class="form-text text-muted"></small>
    <button type="button" class="btn btn-primary add-notes">Разместить</button>
</form>
