<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/static/bootstrap.min.css'/>
      <link rel='stylesheet' href='/static/style.css'/>
  </head>
  <body>
  {{> header}}
   <div class="content">{{{body}}}</div>
  {{> footer}}
  <script src="/script/socket.io.js"></script>
  <script src="/script/script.js"></script>
  <script src="/script/jquery.js"></script>
  <script src="/script/bootstrap.bundle.js"></script>
  <script src="/script/notes.js"></script>
  <script src="/script/comments.js"></script>
  <script src="/script/register.js"></script>
  <script src="/script/tags.js"></script>
  </body>
</html>
