<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/static/bootstrap.min.css'/>
      <link rel='stylesheet' href='/static/style.css'/>
  </head>
  <body>
  {{> header}}
   <div class="content">{{{body}}}</div>
  {{> footer}}
  <script src="http://localhost:3000/script/socket.io.js"></script>
  <script src="http://localhost:3000/script/script.js"></script>
  <script src="http://localhost:3000/script/jquery.js"></script>
  <script src="http://localhost:3000/script/bootstrap.bundle.js"></script>
  <script src="http://localhost:3000/script/notes.js"></script>
  <script src="http://localhost:3000/script/comments.js"></script>
  <script src="http://localhost:3000/script/register.js"></script>
  <script src="http://localhost:3000/script/tags.js"></script>
  </body>
</html>
