<form action="/api/v1/users/login" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Электронная почта:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email@com" name="username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Пароль" name="password">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checked">
        <label class="form-check-label" for="exampleCheck1">Оставаться в системе</label>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
